@import "@/assets/css/element-variables.scss";
.contact-detail{
    &__container{
       background: #f0f0f0;
       padding:80px 10px;
    }
}
.contact-ruleForm {
    max-width: 1200px;
    margin: 0 auto;
    .contact-container{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  &__right {
    display: flex;
    flex-direction: column;
    
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      .el-form-item__content{
          margin-left: 0!important;
      }
      &__tips{
          color:$--color-primary;
          &.error{
            color:$--color-danger;
          }
      }
    }
  }

  @media screen and(min-width:768px) {
  
    &__left,
    &__right {
      flex: 0 0 50%;
    }

  }
 
  .el-input--medium {
    .el-input__inner,.el-textarea__inner {
      border-color:  #0A0066;
        border-width: 2px;
       
        background-color: transparent;
    }
    .el-input__inner {
        height: 52px;
        line-height: 52px;
       
    }
  }
  .el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-input__inner:focus, .el-form-item.is-error .el-textarea__inner, .el-form-item.is-error .el-textarea__inner:focus {
    border-color: #F56C6C;
}
}
