/* 改变主题色变量aaa */
$--color-primary: #19459a;
$--color-warning: #f3cd1d;
$--color-danger: #fe2324;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// @import "~element-ui/packages/theme-chalk/src/index";

// 样式也按需引入，嘿嘿嘿
@import "~element-ui/packages/theme-chalk/src/message";
@import "~element-ui/packages/theme-chalk/src/pagination";
@import "~element-ui/packages/theme-chalk/src/button";

.el-input__inner,.el-textarea__inner{
    background-color: #eeeeee;
    border-color: #bfbfbf;
    border-radius: 0;
    color: #989898;
}
.el-input__inner:focus,.el-textarea__inner:focus {
    border-color: $--color-warning;
    background-color: #fff;
}