.section-1 {
    background: #19459a url("/images/index/aboutbg.jpg") no-repeat;
    color: #fff;
    text-align: center;
    position: relative;
    background-size: cover;
  }
  .section-1-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 140px 20px 85px 20px;
    
  }


  
  .section-1:before {
    content: "";
    display: block;
    width: 100%;
    height: 39px;
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));  */
    background: url("/images/shadow.png") no-repeat 100% 100%;
    position: absolute;

  }
 .temp-banner{
   transition: all .5s ease;
 }
  .section-1 h1 {
    color: #f3cd1d;
    padding-bottom: 20px;
  }
  .section-1-content p {
    font-size: 18px;
    line-height: 27px;
  }
  .section-1-content-text{
    display: flex;
    align-items: center;
  }
  .section-1-content-text div{
    width:50%;
    padding:0 .5rem;
  }
  .section-1-content-text .button{
    margin-top:.78rem ;
  }
  .section-1-content-text .pic{
    max-width: 100%;
  }
  .about-detail {
    display: flex;
    padding-top: 78px;
    justify-content: center;
   
  }
  .about-detail .item{
    border-left: 1px solid #f3cd1d;
    box-sizing: border-box;
    padding:0 15px;
    padding-bottom: .55rem;
  }
  .item-1{
    width: 33.33%;
  }
  .item-2{
    width: 50%;
  }
  .item-3{
    width: 25%;
  }
  .about-detail .item:first-child{
    border-left:0
  }
  .section-yunfan {
    display: flex;
    box-sizing: border-box;
    padding:.8rem;
    max-width: 1750px;
    margin: 0 auto;
  }
  .section-yunfan .section-left {
    padding-left: .5rem;
    padding-right: 1rem;
    width: 50%;
    box-sizing: border-box;
    display: flex;
   align-items: center;
  }
  
  .section-yunfan .yunfan-content {
    width: 50%;
    font-size: 18px;
    line-height: 28px;
  }
  .section-yunfan .button {
    margin-top: 65px;
  }
  .section-yunfan h2 {
    padding: 28px 0;
  }
  .section-yunfan .pic {
    max-width: 100%;
  }
  
  .section-yunfan .text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #FFF;
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px;
  }
  .section-yunfan .text h1{
     font-size: 80px;
     padding-bottom: 30px;
  }
  .section-solution-content{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    margin-bottom:0;
  }
  .section-solution-content p{
    font-size: 18px;
    line-height: 27px;
  }
  .solution-left{
    text-align: center;
    width: 25%;
    /* flex-shrink:0; */
  }
  .solution-left h1{
    color: #19459a;
   padding-top: 1rem;
    white-space:nowrap;
  }
  .solution-left .more{
    color: #19459a;
    margin-top: 1.46rem;
  }
  @media screen and (max-width:1440px){
    .solution-left .more{
      margin-top: .7rem;
    }
  }
  .solution-right{
    flex: 1;
  }
 
  .solution-right ul{
    display: flex;
  }
  .solution-right dl{
    font-size: 24px;
    color: #fff;
  }
  .solution-right ul li{
    /* padding:20px; */
    width: 100%;
    border-left: 1px solid #19459a;
    color: #fff;
    position: relative;
    background: #606060;
  }
  .solution-right .button{
    display: none;
    
  }
  .solution-right ul li:hover .button{
    display: block;
  }
  .solution-right ul li .bg{
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
    background: #606060;
  }
  .solution-right ul li img{
     width: 100%;
  }
  .solution-right-content{
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 20px;
    padding-top: 1.1rem;
  }
  .solution-right ul li h3{
    padding: 28px 0 38px;
  }
  .solution-nav li{
    
    padding: .23rem 23px;
    margin-top: .8rem;
  }
  .solution-nav li h2{
    padding-bottom: .2rem;
    white-space:nowrap;
    
  }
  .solution-nav li.active{
    border-right: 3px solid #19459a;
    
  }

  .section-content{
    display: flex;
    padding-top: 198px;
  }
  .section-content-left{
    width: 25%;
    box-sizing: content-box;
    padding-left: 25%;
    padding-right: 35px;
  }

  .section-content-left h4{
    padding:57px 0  30px 0;
  }
  .section-content-left .button{
     margin-top: 40px;
  }
  @media screen and (max-width: 1900px)   {
    .section-content-left{
      padding-left:30px;
      padding-right: 10px;
    }
    
  }
  .case-slider{
    flex: 1;
    
  }
  .case-slider ul{
    display: flex;
  }
  .case-slider ul li{
    padding-left: 20px;
  }
  .img-box{
    position: relative;
    overflow: hidden;
  }
  .case-slider .pic{
    max-width: 100%;
  }
  .img-box:after{
    position:absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: all .5s ease;
  }

  .img-box:hover:after{
    top: 100%;
  }

  .case-slider h4{
    padding: 30px 0;
  }

  .messages-wrap{
    max-width: 1314px;
    margin: 0 auto;
    color: #fff;
  }
  .messages-wrap h1{
    font-size: 41px;
    padding: 0 15px;
    padding-bottom: 35px;
  }
  .messages{
    padding: 60px 0 45px;
    background: #19459a;
   
  }
.messages-content{
  display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

}
.messages-content-left{
  flex: 1;
  padding:0 15px 15px;
}

.messages-form{
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.messages-form-content{
  display: flex;
  max-width: 850px;
  flex-wrap: wrap;
}
 .messages-form .button{
   margin-right: 15px;
}
input,textarea{
  background: #e5e5e5;
  box-sizing: border-box;
  padding: 0 20px;
  border: 1px solid transparent;
  outline-style: none ;
  max-width: 100%!important;
}
input:focus,textarea:focus{
  border: 1px solid #f3cd1d;
  outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.0),0 0 1px rgba(243,205,29,1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.0),0 0 1px rgba(243,205,29,1)
}
input{
  
  width: 267px;
  height: 70px;
  margin-bottom: 15px;
  margin-right: 15px;
}
.messages-form-input{
  display: flex;
  flex-direction: column;
}
textarea{
  width: 267px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding-top:15px;
  height: 154px;
}

.section-news{
   padding:2rem 0;
   max-width: 1640px;
   margin: 0 auto;
}
.section-news h1{
  text-align: center;
  padding-bottom: 40px;
}
.section-news-content{
  display: flex;
  justify-content: center;
}
.section-news-content  .pic{
  padding-right: .8rem;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section-news-content  .pic img{
  max-width: 100%;
}

.section-news-first{
  width: 320px;
  padding: 20px;
  padding-top: 40px;
  box-sizing: 100%;
}
.section-news-first a{
  color: #19459a;
  text-decoration: none;
}
.section-news-first a.button{
  margin-top: .45rem;
}
.section-news-first h4{
  padding-bottom: 20px;
}
.section-news-list{
    padding:0 20px;
}
.section-news-list li{
  padding: 34px 48px;
  border:1px solid #fff;
  font-size: 24px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section-news-list li a{
  color: #000;
  text-decoration: none;
}
.section-news-list li:hover{
  border:1px solid #f3cd1d;
}
@media screen and (max-width:1280px) {
  .section-news-content{
    flex-wrap: wrap;
    align-items: center;
  }
  .section-news-list{
    flex:1;
    
    width: 100%;
  }
  .section-news-list li{
    padding:20px
  }
  
}